.productsImage {
  display: flex;
}

.productsImage img {
  width: 25%;
  height: auto;
}

.container-fluid {
  padding: 0 !important;
}

@media (max-width: 768px) {
  .productsImage {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .productsImage img {
    width: 100%;
    height: 100%;
  }
}
